# Story Of A Film 
__An EDA__

## Importing Important Libraries and Data

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
df = pd.read_csv('/home/parth/AppliedAI/datasets/tmdb/movies_metadata.csv')
df.head().transpose()

/home/parth/AppliedAI/appliedAI/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4
adult,False,False,False,False,False
belongs_to_collection,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"{'id': 96871, 'name': 'Father of the Bride Col..."
budget,30000000,65000000,0,16000000,0
genres,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 35, 'name': 'Comedy'}]"
homepage,http://toystory.disney.com/toy-story,NaN,NaN,NaN,NaN
id,862,8844,15602,31357,11862
imdb_id,tt0114709,tt0113497,tt0113228,tt0114885,tt0113041
original_language,en,en,en,en,en
original_title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...,A family wedding reignites the ancient feud be...,"Cheated on, mistreated and stepped on, the wom...",Just when George Banks has recovered from his ...
popularity,21.9469,17.0155,11.7129,3.85949,8.38752
poster_path,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,/e64sOI48hQXyru7naBFyssKFxVd.jpg
production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'name': 'Sandollar Productions', 'id': 5842}..."
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,1995-10-30,1995-12-15,1995-12-22,1995-12-22,1995-02-10
revenue,3.73554e+08,2.62797e+08,0,8.14522e+07,7.65789e+07
runtime,81,104,101,127,106
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]"
status,Released,Released,Released,Released,Released
tagline,NaN,Roll the dice and unleash the excitement!,Still Yelling. Still Fighting. Still Ready for...,Friends are the people who let you be yourself...,Just When His World Is Back To Normal... He's ...
title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II
video,False,False,False,False,False
vote_average,7.7,6.9,6.5,6.1,5.7
vote_count,5415,2413,92,34,173

## Undestanding the Data

The dataset was obatained from Kaggle. The Movies available in this dataset are a subset of the movies that are listed in __MoviesLens Latest Full Dataset__ comprising of 26 million ratings on 45,000 movies from 27,000 users .Let us have look om the features that are available to us.

In [25]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

### Features
__Adult__ : Indicates that the movie is X-rated or Adult

__belongs_to_collection__:A dictionary that provides the information of which collection movie belongs

__budget__: Budget of the movie in dollars

__genres__ : A dictionary indicating the Genres the movie belongs to.

__homepage__: The official homepage of the movie

__id__: THe id of the movie

__imdb_id__: The IMDB id of the movie

_to be continued_

In [26]:
df.shape

(45466, 24)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

There are total of __45466__ movies and __24__ features. Most of them have very less NaN values( apart from __homepage__ , __belongs_to_collection__ and __tagline__ ). We will attempt cleaning the data in the next section.

## Data Wrangling

The data was originally in JSON format and it was converted to a CSV format to arrive at an input that could be easily loaded in pandas DataFrame easily. 

We will try to learn more about the featuers that will help us to learn more about the data.

Let us start by removing non useful data.

In [28]:
df.drop(labels='imdb_id',axis=1,inplace=True)

In [30]:
df[df['original_title']!= df['title']][['title','original_title']]

                           title                    original_title
28     The City of Lost Children        La Cité des Enfants Perdus
29                Shanghai Triad                         摇啊摇，摇到外婆桥
32              Wings of Courage  Guillaumet, les ailes du courage
57                   The Postman                        Il postino
58              The Confessional                  Le confessionnal
...                          ...                               ...
45453                        Mom                               Maa
45455  St. Michael Had a Rooster        San Michele aveva un gallo
45461                     Subdue                           رگ خواب
45462        Century of Birthing               Siglo ng Pagluluwal
45464           Satan Triumphant               Satana likuyushchiy

[11402 rows x 2 columns]

The __original_title__ refers to the title of the movie in the native language in which the movie was shot.
But we will prefer the translated language. We can always look at the __original_lanaguage__ to determine
the original language of the movie.

Thus we will drop the __original_title__ column

In [31]:
df.drop(labels='original_title',axis=1,inplace=True)

In [33]:
df['revenue'].value_counts()

0.0            38052
12000000.0        20
10000000.0        19
11000000.0        19
2000000.0         18
               ...
245724603.0        1
12212123.0         1
8203235.0          1
25900.0            1
12032983.0         1
Name: revenue, Length: 6863, dtype: int64

This shows that we have a lot of data that has __revenue__ column with value 0

In [34]:
df[df['revenue']==0].shape

(38052, 22)

We will still treat revenue as most important feature. Thus replacing the value __0__ with np.NAN

In [35]:
df['revenue'] = df['revenue'].replace(0,np.nan)

Checking the __budget__ column

In [36]:
df['budget'].value_counts()

0           36573
5000000       286
10000000      259
20000000      243
2000000       242
            ...
260             1
923             1
3005000         1
328000          1
1114000         1
Name: budget, Length: 1226, dtype: int64

Again the budget has lot of values as __0__ .Thus we will replace __0__ with __np.nan__

In [38]:
df['budget'] = df['budget'].replace(0,np.nan)