#### :Load Data and conceiously ###

In [3]:
import os
from urllib.request import urlretrieve
import pandas as pd
URL = 'https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD'
def get_fremont_data(filename='Fremont.csv',url=URL,force_download=False):
    if force_download or not os.path.exists(filename):
        urlretrieve(url,filename)
    data = pd.read_csv('Fremont.csv',index_col='Date',parse_dates=True)
    data.columns = ['West','East']
    data['Total'] = data['West'] + data['East']
    return data

In [27]:
import pandas as pd
import numpy as np
import time 
import datetime

In [133]:
data = pd.read_excel("C:/Users/suryadeept/Downloads/Time_Data.xlsx")

In [134]:
data = data[:100]

There seems to be some issue in the data after row 100 and my time function was throwing error thus taking first 100 records

In [121]:
data.dtypes

timestamp             object
last_vdb_timestamp    object
vdb_timestamp         object
dtype: object

In [122]:
data.shape

(100, 3)

In [123]:
d2 = datetime.datetime.strptime(data.timestamp[5],"%Y-%m-%dT%H:%M:%S.%fZ")
d2

datetime.datetime(2019, 3, 4, 6, 27, 25)

In [124]:
d2.timestamp()

1551661045.0

data['TimeStamp_epoch'] = data['timestamp'].apply(
    lambda x: datetime.datetime.strptime(x, "%Y-%m-%dT%H:%M:%S.%fZ").timestamp(
    ))

In [126]:
data.head()

,timestamp,last_vdb_timestamp,vdb_timestamp,TimeStamp_epoch
0,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:51)",1.551431e+09
1,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:31)",1.551431e+09
2,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:51)",1.551431e+09
3,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:31)",1.551431e+09
4,2019-03-04T06:27:25.000Z,"02 March, 2019 (08:03:25)","03 March, 2019 (08:09:50)",1.551661e+09

In [127]:
data.shape

(100, 4)

In [128]:
d2 = datetime.datetime.strptime(data.last_vdb_timestamp[1],"%d %B, %Y (%H:%M:%S)")

In [129]:
d2.timestamp()

1551331325.0

In [130]:
data['last_vdb_timestamp_epoch'] = data['last_vdb_timestamp'].apply(lambda x: datetime.datetime.strptime(x, "%d %B, %Y (%H:%M:%S)").timestamp())

In [135]:
data['timestamp_epoch'] = data['timestamp'].apply(
    lambda x: datetime.datetime.strptime(x, "%Y-%m-%dT%H:%M:%S.%fZ").timestamp())
data['last_vdb_timestamp_epoch'] = data['last_vdb_timestamp'].apply(
    lambda x: datetime.datetime.strptime(x, "%d %B, %Y (%H:%M:%S)").timestamp())
data['vdb_timestamp_epoch'] = data['vdb_timestamp'].apply(
    lambda x: datetime.datetime.strptime(x, "%d %B, %Y (%H:%M:%S)").timestamp())

In [136]:
data.head()

,timestamp,last_vdb_timestamp,vdb_timestamp,timestamp_epoch,last_vdb_timestamp_epoch,vdb_timestamp_epoch
0,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:51)",1.551431e+09,1.551331e+09,1.551408e+09
1,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:31)",1.551431e+09,1.551331e+09,1.551408e+09
2,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:51)",1.551431e+09,1.551331e+09,1.551408e+09
3,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:31)",1.551431e+09,1.551331e+09,1.551408e+09
4,2019-03-04T06:27:25.000Z,"02 March, 2019 (08:03:25)","03 March, 2019 (08:09:50)",1.551661e+09,1.551494e+09,1.551581e+09

In [139]:
data['C_B'] = data.vdb_timestamp_epoch - data.last_vdb_timestamp_epoch
data['A_B'] = data.timestamp_epoch - data.last_vdb_timestamp_epoch
data['A_C'] = data.timestamp_epoch - data.vdb_timestamp_epoch

In [140]:
data.head()

,timestamp,last_vdb_timestamp,vdb_timestamp,timestamp_epoch,last_vdb_timestamp_epoch,vdb_timestamp_epoch,C_B,A_B,A_C
0,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:51)",1.551431e+09,1.551331e+09,1.551408e+09,76606.0,99766.0,23160.0
1,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:31)",1.551431e+09,1.551331e+09,1.551408e+09,76586.0,99766.0,23180.0
2,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:51)",1.551431e+09,1.551331e+09,1.551408e+09,76606.0,99766.0,23160.0
3,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:31)",1.551431e+09,1.551331e+09,1.551408e+09,76586.0,99766.0,23180.0
4,2019-03-04T06:27:25.000Z,"02 March, 2019 (08:03:25)","03 March, 2019 (08:09:50)",1.551661e+09,1.551494e+09,1.551581e+09,86785.0,167040.0,80255.0

In [ ]:
import pandas as pd
import numpy as np
import time 
import datetime
data = pd.read_excel("C:/Users/suryadeept/Downloads/Time_Data.xlsx")
data = data[:100]
data['timestamp_epoch'] = data['timestamp'].apply(
    lambda x: datetime.datetime.strptime(x, "%Y-%m-%dT%H:%M:%S.%fZ").timestamp())
data['last_vdb_timestamp_epoch'] = data['last_vdb_timestamp'].apply(
    lambda x: datetime.datetime.strptime(x, "%d %B, %Y (%H:%M:%S)").timestamp())
data['vdb_timestamp_epoch'] = data['vdb_timestamp'].apply(
    lambda x: datetime.datetime.strptime(x, "%d %B, %Y (%H:%M:%S)").timestamp())
data['C_B'] = data.vdb_timestamp_epoch - data.last_vdb_timestamp_epoch
data['A_B'] = data.timestamp_epoch - data.last_vdb_timestamp_epoch
data['A_C'] = data.timestamp_epoch - data.vdb_timestamp_epoch

In [141]:
data.head()

,timestamp,last_vdb_timestamp,vdb_timestamp,timestamp_epoch,last_vdb_timestamp_epoch,vdb_timestamp_epoch,C_B,A_B,A_C
0,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:51)",1.551431e+09,1.551331e+09,1.551408e+09,76606.0,99766.0,23160.0
1,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:31)",1.551431e+09,1.551331e+09,1.551408e+09,76586.0,99766.0,23180.0
2,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:51)",1.551431e+09,1.551331e+09,1.551408e+09,76606.0,99766.0,23160.0
3,2019-03-01T14:34:51.000Z,"28 February, 2019 (10:52:05)","01 March, 2019 (08:08:31)",1.551431e+09,1.551331e+09,1.551408e+09,76586.0,99766.0,23180.0
4,2019-03-04T06:27:25.000Z,"02 March, 2019 (08:03:25)","03 March, 2019 (08:09:50)",1.551661e+09,1.551494e+09,1.551581e+09,86785.0,167040.0,80255.0