In [2]:
import pandas as pd
import numpy as np

In [1]:
data = [['surya','surya','sudhir','deb','deb'],
        ['manish','manish','manish','mohit'],
        ['nikhil','sahil','sahil']
       ]

In [3]:
df = pd.DataFrame(data)

In [5]:
df.to_numpy()

array([['surya', 'surya', 'sudhir', 'deb', 'deb'],
       ['manish', 'manish', 'manish', 'mohit', None],
       ['nikhil', 'sahil', 'sahil', None, None]], dtype=object)

In [6]:
df.T

        0       1       2
0   surya  manish  nikhil
1   surya  manish   sahil
2  sudhir  manish   sahil
3     deb   mohit    None
4     deb    None    None

In [8]:
df.T[0].value_counts()

surya     2
deb       2
sudhir    1
Name: 0, dtype: int64

In [11]:
df.T.apply(lambda x : x.value_counts()).fillna(0.0)

          0    1    2
deb     2.0  0.0  0.0
manish  0.0  3.0  0.0
mohit   0.0  1.0  0.0
nikhil  0.0  0.0  1.0
sahil   0.0  0.0  2.0
sudhir  1.0  0.0  0.0
surya   2.0  0.0  0.0

In [12]:
filterList = ['sudhir','deb']

In [18]:
dfTrans = df.T.apply(lambda x : x.value_counts()).fillna(0.0)

In [19]:
dfTrans

          0    1    2
deb     2.0  0.0  0.0
manish  0.0  3.0  0.0
mohit   0.0  1.0  0.0
nikhil  0.0  0.0  1.0
sahil   0.0  0.0  2.0
sudhir  1.0  0.0  0.0
surya   2.0  0.0  0.0

In [20]:
dfTrans[dfTrans.index.isin(filterList)]

          0    1    2
deb     2.0  0.0  0.0
sudhir  1.0  0.0  0.0