# Amazon Fine Food Reviews

## EDA

### Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sqlite3 as sql

In [2]:
os.listdir('/home/parth/AppliedAI/datasets/amazon_fine_food')

['amazon-fine-food-reviews.zip',
 'hashes.txt',
 'database.sqlite',
 'Reviews.csv']

### Make connections with the sql database

In [3]:
con = sql.connect('/home/parth/AppliedAI/datasets/amazon_fine_food/database.sqlite')

### Make query to run on the database

In [4]:
query = '''
select * from reviews
where score != 3'''

### Retrieve Information from the db

In [5]:
df = pd.read_sql_query(query,con)

In [6]:
original_shape = df.shape
print(original_shape)

(525814, 10)

In [7]:
df.columns

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')

### Creating New Column P/N from Score

In [8]:
df['P/N'] = df['Score'].map(lambda x: 'Negative' if x < 3 else 'Positive')

In [9]:
original_shape = df.shape
print(original_shape)

(525814, 11)

### Dropping Score Column

In [10]:
df.drop(axis=1,labels=['Score'],inplace=True)
df.shape

(525814, 10)

## Data Cleaning

### Analyising the data

In [11]:
query_analysis = '''
select userId , ProductId , count(*) as count 
from reviews 
group by UserId , ProductId 
having count > 1
order by count desc
'''

In [12]:
pd.read_sql_query(query_analysis,con)

              UserId   ProductId  count
0     A29JUMRL1US6YP  B000084EZ4     11
1     A29JUMRL1US6YP  B00008CQVA     11
2     A29JUMRL1US6YP  B000WFEN74     11
3     A29JUMRL1US6YP  B000WFKI82     11
4     A29JUMRL1US6YP  B000WFKWDI     11
...              ...         ...    ...
5854   AZIX3BUCWX7AG  B0029ZAOW8      2
5855   AZIX3BUCWX7AG  B003QNJYXM      2
5856   AZIX3BUCWX7AG  B003QNLUTI      2
5857   AZNSBRQ0DS8LK  B004N5C7FE      2
5858   AZNSBRQ0DS8LK  B004N5G3OA      2

[5859 rows x 3 columns]

__Found some duplicate data for same product id__

In [13]:
query_finding = '''
select * 
from reviews
where UserId = 'A29JUMRL1US6YP' 
and  ProductId = 'B000084EZ4' '''
pd.read_sql_query(query_finding,con)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,410191,B000084EZ4,A29JUMRL1US6YP,HTBK,3,4,5,1278201600,Fantastic Food for Good Cat Health,The pet food industry can be one of the most i...
1,410234,B000084EZ4,A29JUMRL1US6YP,HTBK,38,40,5,1278201600,Fantastic Food for Good Cat Health,The pet food industry can be one of the most i...
2,410240,B000084EZ4,A29JUMRL1US6YP,HTBK,19,23,5,1278201600,Fantastic Food for Good Cat Health,The pet food industry can be one of the most i...
3,410243,B000084EZ4,A29JUMRL1US6YP,HTBK,12,14,5,1278201600,Fantastic Food for Good Cat Health,The pet food industry can be one of the most i...
4,410250,B000084EZ4,A29JUMRL1US6YP,HTBK,7,8,5,1278201600,Fantastic Food for Good Cat Health,The pet food industry can be one of the most i...
5,410254,B000084EZ4,A29JUMRL1US6YP,HTBK,4,4,5,1278201600,Fantastic Food for Good Cat Health,The pet food industry can be one of the most i...
6,410267,B000084EZ4,A29JUMRL1US6YP,HTBK,3,3,5,1278201600,Fantastic Food for Good Cat Health,The pet food industry can be one of the most i...
7,410268,B000084EZ4,A29JUMRL1US6YP,HTBK,3,3,5,1278201600,Fantastic Food for Good Cat Health,The pet food industry can be one of the most i...
8,410275,B000084EZ4,A29JUMRL1US6YP,HTBK,5,6,5,1278201600,Fantastic Food for Good Cat Health,The pet food industry can be one of the most i...
9,410300,B000084EZ4,A29JUMRL1US6YP,HTBK,2,2,5,1278201600,Fantastic Food for Good Cat Health,The pet food industry can be one of the most i...
10,410304,B000084EZ4,A29JUMRL1US6YP,HTBK,4,5,5,1278201600,Fantastic Food for Good Cat Health,The pet food industry can be one of the most i...

In [14]:
pd.read_sql_query('''
select score , count(*) as count
from reviews
group by score 
order by count desc''',con)

   Score   count
0      5  363122
1      4   80655
2      1   52268
3      3   42640
4      2   29769

In [15]:
temp =  pd.read_sql_query('''
select UserId , ProfileName , Time , Text , count(*) as count
from reviews
group by UserId , ProfileName , Time , Text
having count > 1
order by count desc''',con)
temp

,UserId,ProfileName,Time,Text,count
0,A3TVZM3ZIXG8YW,christopher hayes,1291420800,"This review will make me sound really stupid, ...",199
1,A36JDIN9RAAIEC,Jon,1292976000,"I have two cats, one 6 and one 2 years old. Bo...",51
2,A29JUMRL1US6YP,HTBK,1278201600,The pet food industry can be one of the most i...,45
3,A1TMAVN4CEM8U8,Gunner,1336348800,Diamond Almonds<br />Almonds are a good source...,43
4,A1UQBFCERIP7VJ,Margaret Picky,1321401600,Stash Chamomile Herbal Tea is tea bags with dr...,38
...,...,...,...,...,...
57889,AZYIAWJR9972L,Lovin' retirement,1247529600,"Cats are a finicky bunch, mine in particular. ...",2
57890,AZZA4Q0JACD5U,"Driver ""Suzanne S""",1278374400,Twinings English Breakfast Tea is a fairly str...,2
57891,AZZA4Q0JACD5U,"Driver ""Suzanne S""",1340582400,I buy this product for two reasons: I drink a...,2
57892,AZZTH6DJ0KSIP,Crystal Caccamo,1304208000,ive bought a few different kinds and i feel th...,2
57893,AZZU4D6TZ2L6J,"Sherry King ""llamasmama""",1247875200,My father thought this was the best cheese eve...,2

In [16]:
temp['count'].sum()

232415

In [17]:
pd.read_sql_query('''
select ProductId, UserId , Text , count(*) as count
from reviews
where lower(text) like '%book%' ''',con)

,ProductId,UserId,Text,count
0,B001EQ5O6Y,A31YNKI4TS6ZJW,I was hesitant about this product based on som...,3476

### Sorting the Data using ProductId

In [18]:
df.sort_values('ProductId',axis=0,ascending=True,inplace=True)
df.head(2)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Time,Summary,Text,P/N
138706,150524,0006641040,ACITT7DI6IDDL,shari zychinski,0,0,939340800,EVERY book is educational,this witty little book makes my son laugh at l...,Positive
138688,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc...",Positive

In [19]:
df.shape

(525814, 10)

### Dropping Duplicates from the dataframe on the basis of UserId , ProfileName , Time and Text

In [20]:
df.drop_duplicates(subset=['UserId','ProfileName','Time','Text'],inplace=True)
df.shape

(364173, 10)

### Checking for the HelpfulnessNumerator always be smaller than HelpfullnessDenominator

In [21]:
df = df[df['HelpfulnessNumerator'] <= df['HelpfulnessDenominator']]
current_shape = df.shape
print(current_shape)

(364171, 10)

### Checking the % of Data left from the orginal data

In [22]:
data_percentage_left = (current_shape[0]/original_shape[0]) * 100
print('{}% of data left from the original data'.format(data_percentage_left))

69.25852107399194% of data left from the original data

In [23]:
df['P/N'].value_counts()

Positive    307061
Negative     57110
Name: P/N, dtype: int64

## Bag Of Words

### Imports

In [24]:
from sklearn.feature_extraction.text import CountVectorizer

### Creating the count vextorizer

In [25]:
cnt_vec = CountVectorizer()
final_bow = cnt_vec.fit_transform(df['Text'].values)

In [26]:
type(final_bow)

scipy.sparse.csr.csr_matrix

In [27]:
final_bow.shape

(364171, 115281)

## Text Preprocessing

### Imports

In [29]:
import numpy as np
import re
from bs4 import BeautifulSoup as bs
from tqdm import tqdm

### Analysis of Dirty Data

In [30]:
for i in range(0,5):
    ind = np.random.randint(1,364171)
    print(df.iloc[ind]['Text'])

I purchased this item to celebrate the birth of my grandson.  I should have opted for real cigars, they might have tasted better. These cigars were very hard and hurt my teeth to chew. Not to mention that these gum cigars were much too sweet.
I have to admit it.  I love Starbucks Via, but what I don't like is the price.  Dollar for dollar Nescaf&eacute; Cl&aacute;sico is one of the better instant coffees out there.  If you read the reviews, the one done by "The Old Grottomaster" does an excellent job explaining how to best enjoy this coffee.  BTW, it is much cheaper at Wal-Mart, where you can actually pick up huge "family size" jars of this stuff for way less than the Amazon price.<br /><br />As a high school teacher I don't really have time during the day to watch my coffee brewing so I typically take a microwave safe thermal mug full of water, pop it in the microwave for three minutes, add one heaping teaspoon and I'm all set for the morning.  I have tried other brands of instant coffee and in my opinion, this one has the best overall taste.  The taste itself is a bit hard to describe, you know you are drinking coffee but it is just a bit bitter on the back end.  What I think is neat is the hotter the water is you use when you make it = more froth on the top of the mug once you have mixed the coffee in.  I have also tried the instant versions of Caf&eacute; Bustelo and Caf&eacute; Oro.  I believe that those two brands and Cl&aacute;sico are all sourced from Mexico, not that this really matters, though.<br /><br />Caffeine-wise, I wouldn't say this is the strongest coffee out there and if you do some research you will probably find that instant coffees tend to have less caffeine than their brewed counterpart.  But if you want something to warm you up, and you don't have time to brew a pot, give yourself some time to get used to this and I think you will be happy.
I bought this to eat as part of Ducan's diet. The daily quantity required is really small. even though, after 2 weeks I started to have a rash all over my body. it took me a few trials and errors to narrow down its origin, but this is it: I recommend you do not buy this product. I had to through away the whole order. Will not buy from that manufacturer again.
The idea seems logical and very attractive. But after 3 weeks it has trapped zero fleas. My cat has a flea allergy, so it doesn't take but one flea to set off her allergy. At night this is the only light except a night light in the bathroom. I'll try the suggestion to make the whole area dark except for the trap--maybe that will work.<br /><br />I have tried vacuuming, and the solution of vacuuming daily for 7 days seems more effective, although admittedly more work.<br /><br />Best think I can say about the flea trap is it makes a very effective night light.
I have purchased this a number of times. What's different?<br /><br />This is a great product....so I recommend buying it somewhere else. They place huge, wide tape around all 5 boxes and it is still packaged in heavy plastic (which is fine). The tape is 100% unnecessary and there is no way to remove it without destroying the boxes. I have no idea why they chose to do this. I now have open boxes. ...Caveat emptor.

### Removing Url

In [31]:
def url_remover(text):
    return  re.sub(r'http\S+',r'',text)

### Removing html Tags

In [32]:
def html_tags_remover(text):
  # This is a wrong way of doing because this will remove all the information with in the tag
  # return re.sub(r'<.*?>',r'',text)
  # Correct way is to use the bs4 beautifulsoup and extract text
  return bs(text,'lxml').get_text()

### Changing the contracted words to expanded form

**For example: won't =>  will not**

In [33]:
# Changing the contracted words like won't to will not
def decontracted(phrase):
    # specific
    phrase = re.sub(r"won\'t", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

### Remove Words With Number

In [34]:
def alpha_numberic_remove(text):
    return re.sub(r'\S*\d\S*',r'',text).strip()

### Remove Special Characters

In [35]:
def special_char_remover(text):
    return re.sub(r'[^A-Za-z0-9 ]+',r'',text)

### Creating a set of stopwords and a function to remove them

In [36]:
# Removed no , nor , not as they will be useful 
# Added br as this is coming due to the 
def stopwords_remover(text):
    stopwords= set(['br', 'the', 'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't"])
    return ' '.join([words.lower() for words in text.split(' ') if words.lower() not in stopwords])

### Testing the data cleaning functions

In [37]:
message = "I work hell no this shot  funck33 <html> <body shit https://what.com > won't we'll for themselves and br"
print('After Removing URL')

message = url_remover(message)
print(message)
print('Html tags removing')
message = html_tags_remover(message)
print(message)
print('After decontraction')

message = decontracted(message)
print(message)
print('After Alpha numeric Removing')

message = alpha_numberic_remove(message)
print(message)
print('After Special Character Removing')

message = special_char_remover(message)
print(message)

print('After stop words Removal')
message = stopwords_remover(message)
print(message)

After Removing URL
I work hell no this shot  funck33 <html> <body shit  > won't we'll for themselves and br
Html tags removing
I work hell no this shot  funck33   won't we'll for themselves and br
After decontraction
I work hell no this shot  funck33   will not we will for themselves and br
After Alpha numeric Removing
I work hell no this shot     will not we will for themselves and br
After Special Character Removing
I work hell no this shot     will not we will for themselves and br
After stop words Removal
work hell no shot     not

### Applying all the cleaner function

In [38]:
df['Clean_Text'] = df['Text'].apply(stopwords_remover).apply(url_remover).apply(html_tags_remover).apply(decontracted).apply(alpha_numberic_remove).apply(special_char_remover)
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Time,Summary,Text,P/N,Clean_Text
138706,150524,0006641040,ACITT7DI6IDDL,shari zychinski,0,0,939340800,EVERY book is educational,this witty little book makes my son laugh at l...,Positive,witty little book makes son laugh loud recite ...
138688,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc...",Positive,grew reading sendak books watching really rosi...
138689,150507,0006641040,A1S4A3IQ2MU7V4,"sally sue ""sally sue""",1,1,1191456000,chicken soup with rice months,This is a fun way for children to learn their ...,Positive,fun way children learn months year learn poem...
138690,150508,0006641040,AZGXZ2UUK6X,"Catherine Hallberg ""(Kate)""",1,1,1076025600,a good swingy rhythm for reading aloud,This is a great little book to read aloud- it ...,Positive,great little book read aloud nice rhythm well ...
138691,150509,0006641040,A3CMRKGE0P909G,Teresa,3,4,1018396800,A great way to learn the months,This is a book of poetry about the months of t...,Positive,book poetry months year goes month cute littl...

## Saving Cleaned data to

In [39]:
df.to_csv('/home/parth/AppliedAI/datasets/amazon_fine_food/cleaned_data.csv')